In [1]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect,func
import datetime as dt

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

In [3]:
# reflect an existing database into a new model
Base = automap_base()

In [4]:
# reflect the tables
Base.prepare(engine, reflect=True)
Base.classes.keys()

['measurement', 'station']

In [5]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [6]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [7]:
inspector = inspect(engine)
inspector.get_table_names()

['measurement', 'station']

In [8]:
columns=inspector.get_columns('measurement')
columns

[{'name': 'id',
  'type': INTEGER(),
  'nullable': False,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 1},
 {'name': 'station',
  'type': TEXT(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'date',
  'type': TEXT(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'prcp',
  'type': FLOAT(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'tobs',
  'type': FLOAT(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0}]

In [9]:
df=pd.DataFrame(engine.execute('SELECT * FROM measurement').fetchall(), columns=['id','station','date','prcp', 'tobs'])
df.head()

   id      station        date  prcp  tobs
0   1  USC00519397  2010-01-01  0.08  65.0
1   2  USC00519397  2010-01-02  0.00  63.0
2   3  USC00519397  2010-01-03  0.00  74.0
3   4  USC00519397  2010-01-04  0.00  76.0
4   5  USC00519397  2010-01-06   NaN  73.0

In [10]:
df.tail()

          id      station        date  prcp  tobs
19545  19546  USC00516128  2017-08-19  0.09  71.0
19546  19547  USC00516128  2017-08-20   NaN  78.0
19547  19548  USC00516128  2017-08-21  0.56  76.0
19548  19549  USC00516128  2017-08-22  0.50  76.0
19549  19550  USC00516128  2017-08-23  0.45  76.0

## D1: Determine the Summary Statistics for June

In [11]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
june = [dt.date(year, 6, day) for day in range (1, 31) for year in range (2010, 2018)]
results = []
results = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 6 )
result_list=list(results.all())

In [12]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
tempJune_df=pd.DataFrame(result_list, columns=['date', 'tobs'])
tempJune_df.tail()

            date  tobs
1695  2017-06-26  79.0
1696  2017-06-27  74.0
1697  2017-06-28  74.0
1698  2017-06-29  76.0
1699  2017-06-30  75.0

In [13]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
tempJune_df.describe()

              tobs
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [14]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
from sqlalchemy import extract
december = [dt.date(year, 12, day) for day in range (1, 31) for year in range (2010, 2018)]

In [15]:
# 7. Convert the December temperatures to a list.
decembers=[]
decembers = session.query(Measurement.date, Measurement.tobs).filter(extract('month',Measurement.date) == 12)
decembers_list=list(decembers.all())

In [16]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
december_temp_df=pd.DataFrame(decembers_list, columns=['date','tempurature'])
december_temp_df.tail(30)

            date  tempurature
1487  2016-12-01         71.0
1488  2016-12-02         71.0
1489  2016-12-03         67.0
1490  2016-12-04         76.0
1491  2016-12-05         67.0
1492  2016-12-06         67.0
1493  2016-12-07         68.0
1494  2016-12-08         71.0
1495  2016-12-09         68.0
1496  2016-12-10         68.0
1497  2016-12-11         69.0
1498  2016-12-12         65.0
1499  2016-12-13         70.0
1500  2016-12-14         69.0
1501  2016-12-15         64.0
1502  2016-12-16         60.0
1503  2016-12-18         67.0
1504  2016-12-19         72.0
1505  2016-12-20         73.0
1506  2016-12-21         70.0
1507  2016-12-22         68.0
1508  2016-12-23         69.0
1509  2016-12-24         69.0
1510  2016-12-25         69.0
1511  2016-12-26         71.0
1512  2016-12-27         71.0
1513  2016-12-28         71.0
1514  2016-12-29         69.0
1515  2016-12-30         65.0
1516  2016-12-31         65.0

In [17]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
december_temp_df.describe()

       tempurature
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000

In [18]:
juneprcp = [dt.date(year, 6, day) for day in range (1, 31) for year in range (2010, 2018)]
results = []
results = session.query(Measurement.date, Measurement.prcp, Measurement.tobs).filter(extract('month', Measurement.date) == 6 )
result_list=list(results.all())
result_list

[('2010-06-01', 0.0, 78.0),
 ('2010-06-02', 0.01, 76.0),
 ('2010-06-03', 0.0, 78.0),
 ('2010-06-04', 0.0, 76.0),
 ('2010-06-05', 0.0, 77.0),
 ('2010-06-06', 0.0, 78.0),
 ('2010-06-07', 0.0, 77.0),
 ('2010-06-08', 0.0, 78.0),
 ('2010-06-09', 0.0, 78.0),
 ('2010-06-10', 0.0, 79.0),
 ('2010-06-11', 0.0, 78.0),
 ('2010-06-12', 0.0, 78.0),
 ('2010-06-13', 0.0, 78.0),
 ('2010-06-14', 0.0, 77.0),
 ('2010-06-15', 0.0, 78.0),
 ('2010-06-16', 0.0, 78.0),
 ('2010-06-17', 0.0, 77.0),
 ('2010-06-18', 0.0, 77.0),
 ('2010-06-19', 0.0, 82.0),
 ('2010-06-20', 0.0, 78.0),
 ('2010-06-21', 0.0, 78.0),
 ('2010-06-22', 0.0, 78.0),
 ('2010-06-23', 0.0, 78.0),
 ('2010-06-24', 0.0, 78.0),
 ('2010-06-25', 0.0, 77.0),
 ('2010-06-26', 0.02, 76.0),
 ('2010-06-27', 0.0, 78.0),
 ('2010-06-28', 0.0, 78.0),
 ('2010-06-29', 0.0, 78.0),
 ('2010-06-30', 0.0, 78.0),
 ('2011-06-01', 0.07, 77.0),
 ('2011-06-02', 0.0, 78.0),
 ('2011-06-03', 0.56, 73.0),
 ('2011-06-04', 0.89, 70.0),
 ('2011-06-05', 0.0, 76.0),
 ('2011-06-06', 0.0, 77.0),
 ('2011-06-07', 0.0, 77.0),
 ('2011-06-08', 0.03, 77.0),
 ('2011-06-09', 0.01, 77.0),
 ('2011-06-10', 0.0, 78.0),
 ('2011-06-11', 0.0, 77.0),
 ('2011-06-12', 0.0, 77.0),
 ('2011-06-13', 0.0, 78.0),
 ('2011-06-14', 0.0, 78.0),
 ('2011-06-15', 0.0, 77.0),
 ('2011-06-17', 0.0, 78.0),
 ('2011-06-18', 0.0, 78.0),
 ('2011-06-19', 0.05, 75.0),
 ('2011-06-20', 0.06, 76.0),
 ('2011-06-21', 0.07, 76.0),
 ('2011-06-24', None, 77.0),
 ('2011-06-25', 0.0, 78.0),
 ('2011-06-26', 0.0, 76.0),
 ('2011-06-27', 0.01, 77.0),
 ('2011-06-28', 0.01, 75.0),
 ('2011-06-29', 0.0, 77.0),
 ('2012-06-01', 0.02, 76.0),
 ('2012-06-02', 0.02, 76.0),
 ('2012-06-03', 0.0, 75.0),
 ('2012-06-04', 0.0, 77.0),
 ('2012-06-05', 0.0, 77.0),
 ('2012-06-06', 0.0, 76.0),
 ('2012-06-07', 0.0, 78.0),
 ('2012-06-08', None, 77.0),
 ('2012-06-09', None, 76.0),
 ('2012-06-10', 0.0, 77.0),
 ('2012-06-11', 0.0, 76.0),
 ('2012-06-12', 0.0, 76.0),
 ('2012-06-13', 0.0, 77.0),
 ('2012-06-14', 0.0, 77.0),
 ('2012-06-15', 0.0, 78.0),
 ('2012-06-16', 0.0, 77.0),
 ('2012-06-17', 0.0, 77.0),
 ('2012-06-18', 0.0, 77.0),
 ('2012-06-19', 0.0, 76.0),
 ('2012-06-20', 0.0, 75.0),
 ('2012-06-21', 0.0, 76.0),
 ('2012-06-22', 0.0, 76.0),
 ('2012-06-23', 0.0, 77.0),
 ('2012-06-24', 0.0, 76.0),
 ('2012-06-25', 0.03, 73.0),
 ('2012-06-26', 0.15, 73.0),
 ('2012-06-27', 0.01, 75.0),
 ('2012-06-28', 0.0, 77.0),
 ('2012-06-29', 0.05, 76.0),
 ('2012-06-30', 0.0, 77.0),
 ('2013-06-01', 0.01, 79.0),
 ('2013-06-02', 0.0, 78.0),
 ('2013-06-03', 0.0, 79.0),
 ('2013-06-04', 0.0, 78.0),
 ('2013-06-05', 0.0, 78.0),
 ('2013-06-06', 0.0, 79.0),
 ('2013-06-07', 0.0, 77.0),
 ('2013-06-08', 0.0, 77.0),
 ('2013-06-09', 0.0, 77.0),
 ('2013-06-10', 0.0, 77.0),
 ('2013-06-11', 0.0, 77.0),
 ('2013-06-12', 0.0, 78.0),
 ('2013-06-13', 0.0, 77.0),
 ('2013-06-14', 0.37, 76.0),
 ('2013-06-15', 0.0, 78.0),
 ('2013-06-16', 0.0, 78.0),
 ('2013-06-17', 0.0, 77.0),
 ('2013-06-18', 0.01, 78.0),
 ('2013-06-19', 0.0, 78.0),
 ('2013-06-20', 0.04, 73.0),
 ('2013-06-21', 0.12, 76.0),
 ('2013-06-22', 0.04, 77.0),
 ('2013-06-23', 0.02, 75.0),
 ('2013-06-24', 0.35, 76.0),
 ('2013-06-25', 0.03, 74.0),
 ('2013-06-26', 0.01, 75.0),
 ('2013-06-27', 0.0, 77.0),
 ('2013-06-28', 0.0, 76.0),
 ('2013-06-29', 0.03, 77.0),
 ('2013-06-30', 0.01, 78.0),
 ('2014-06-01', 0.0, 79.0),
 ('2014-06-02', 0.66, 77.0),
 ('2014-06-03', 0.01, 78.0),
 ('2014-06-04', 0.0, 79.0),
 ('2014-06-05', 0.0, 78.0),
 ('2014-06-06', 0.0, 78.0),
 ('2014-06-07', 0.03, 78.0),
 ('2014-06-08', 0.0, 78.0),
 ('2014-06-09', 0.0, 79.0),
 ('2014-06-10', 0.0, 79.0),
 ('2014-06-11', 0.0, 82.0),
 ('2014-06-12', 0.0, 80.0),
 ('2014-06-13', 0.0, 79.0),
 ('2014-06-14', 0.0, 79.0),
 ('2014-06-15', 0.01, 78.0),
 ('2014-06-16', 0.0, 78.0),
 ('2014-06-17', 0.03, 77.0),
 ('2014-06-18', 0.15, 78.0),
 ('2014-06-19', 0.01, 78.0),
 ('2014-06-20', 0.07, 73.0),
 ('2014-06-21', 0.01, 75.0),
 ('2014-06-22', 0.01, 75.0),
 ('2014-06-23', 0.19, 76.0),
 ('2014-06-24', 0.0, 84.0),
 ('2014-06-25', 0.05, 79.0),
 ('2014-06-26', 0.06, 76.0),
 ('2014-06-27', 0.04, 79.0),
 ('2014-06-28', 0.0, 79.0),
 ('2014-06-29', 0.01, 77.0),
 ('2014-06-30', 0.02, 79.0),
 ('2015-06-01', 0.0, 78.0),
 ('2015-06-02', 0.0, 78.0),
 ('2015-06-03', 0.0, 79.0),
 ('2015-06-04', 0.0, 77.0),
 ('2015-06-05', 0.0, 79.0),
 ('2015-06-06', 0.0, 78.0),
 ('2015-06-07', 0.0, 78.0),
 ('2015-06-08', 0.0, 78.0),
 ('2015-06-09', 0.0, 79.0),
 ('2015-06-10', 0.0, 77.0),
 ('2015-06-11', 0.0, 78.0),
 ('2015-06-12', 0.0, 78.0),
 ('2015-06-13', 0.0, 78.0),
 ('2015-06-14', 0.0, 78.0),
 ('2015-06-15', 0.0, 79.0),
 ('2015-06-16', 0.0, 79.0),
 ('2015-06-17', 0.03, 77.0),
 ('2015-06-18', 0.0, 78.0),
 ('2015-06-19', 0.01, 78.0),
 ('2015-06-20', 0.04, 78.0),
 ('2015-06-21', 0.0, 79.0),
 ('2015-06-22', 0.0, 79.0),
 ('2015-06-23', 0.03, 77.0),
 ('2015-06-24', 0.03, 79.0),
 ('2015-06-25', 0.03, 79.0),
 ('2015-06-26', 0.0, 79.0),
 ('2015-06-27', 0.0, 81.0),
 ('2015-06-28', 0.0, 76.0),
 ('2015-06-29', 0.0, 80.0),
 ('2015-06-30', 0.0, 78.0),
 ('2016-06-01', 0.06, 76.0),
 ('2016-06-02', 0.0, 71.0),
 ('2016-06-03', 0.0, 71.0),
 ('2016-06-04', 0.0, 74.0),
 ('2016-06-05', 0.0, 76.0),
 ('2016-06-06', 0.0, 78.0),
 ('2016-06-07', 0.01, 77.0),
 ('2016-06-08', 0.0, 77.0),
 ('2016-06-09', 0.01, 73.0),
 ('2016-06-10', 0.05, 77.0),
 ('2016-06-11', 0.0, 78.0),
 ('2016-06-12', 0.01, 78.0),
 ('2016-06-13', 0.0, 80.0),
 ('2016-06-14', 0.0, 79.0),
 ('2016-06-15', 0.01, 78.0),
 ('2016-06-16', 0.02, 77.0),
 ('2016-06-17', 0.02, 76.0),
 ('2016-06-18', 0.0, 77.0),
 ('2016-06-19', 0.01, 77.0),
 ('2016-06-20', 0.01, 78.0),
 ('2016-06-21', 0.0, 80.0),
 ('2016-06-22', 0.0, 79.0),
 ('2016-06-23', 0.0, 79.0),
 ('2016-06-24', 0.01, 77.0),
 ('2016-06-25', 0.03, 78.0),
 ('2016-06-26', 0.01, 79.0),
 ('2016-06-27', 0.01, 80.0),
 ('2016-06-28', 0.0, 76.0),
 ('2016-06-29', 0.0, 79.0),
 ('2016-06-30', 0.0, 80.0),
 ('2017-06-01', 0.0, 79.0),
 ('2017-06-02', 0.0, 79.0),
 ('2017-06-03', 0.02, 79.0),
 ('2017-06-04', 0.0, 79.0),
 ('2017-06-05', 0.0, 80.0),
 ('2017-06-06', 0.0, 79.0),
 ('2017-06-07', 0.0, 79.0),
 ('2017-06-08', 0.0, 80.0),
 ('2017-06-09', 0.0, 80.0),
 ('2017-06-10', 0.04, 77.0),
 ('2017-06-11', 0.08, 79.0),
 ('2017-06-12', 0.02, 83.0),
 ('2017-06-13', 0.0, 80.0),
 ('2017-06-14', 0.0, 80.0),
 ('2017-06-15', 0.0, 78.0),
 ('2017-06-16', 0.0, 79.0),
 ('2017-06-17', 0.0, 80.0),
 ('2017-06-18', 0.05, 77.0),
 ('2017-06-19', 0.0, 80.0),
 ('2017-06-20', 0.02, 78.0),
 ('2017-06-21', 0.0, 79.0),
 ('2017-06-22', 0.0, 80.0),
 ('2017-06-23', 0.0, 78.0),
 ('2017-06-24', 0.06, 80.0),
 ('2017-06-25', 0.0, 80.0),
 ('2017-06-26', 0.0, 81.0),
 ('2017-06-27', 0.0, 80.0),
 ('2017-06-28', 0.0, 79.0),
 ('2017-06-29', 0.0, 79.0),
 ('2017-06-30', 0.08, 75.0),
 ('2010-06-01', 0.03, 74.0),
 ('2010-06-02', 0.0, 76.0),
 ('2010-06-03', 0.0, 75.0),
 ('2010-06-04', 0.0, 75.0),
 ('2010-06-05', 0.0, 74.0),
 ('2010-06-06', 0.0, 75.0),
 ('2010-06-07', 0.02, 75.0),
 ('2010-06-08', 0.0, 75.0),
 ('2010-06-09', 0.0, 75.0),
 ('2010-06-10', 0.02, 75.0),
 ('2010-06-11', 0.0, 83.0),
 ('2010-06-12', 0.0, 75.0),
 ('2010-06-13', 0.01, 76.0),
 ('2010-06-14', 0.06, 73.0),
 ('2010-06-15', 0.0, 74.0),
 ('2010-06-16', 0.01, 74.0),
 ('2010-06-17', 0.02, 75.0),
 ('2010-06-18', 0.06, 70.0),
 ('2010-06-19', 0.13, 74.0),
 ('2010-06-20', 0.02, 75.0),
 ('2010-06-21', 0.01, 75.0),
 ('2010-06-22', 0.0, 75.0),
 ('2010-06-23', 0.0, 75.0),
 ('2010-06-24', 0.01, 75.0),
 ('2010-06-25', 0.05, 74.0),
 ('2010-06-26', 0.24, 72.0),
 ('2010-06-27', 0.03, 76.0),
 ('2010-06-28', 0.11, 73.0),
 ('2010-06-29', 0.0, 75.0),
 ('2010-06-30', 0.03, 76.0),
 ('2011-06-01', 0.03, 74.0),
 ('2011-06-02', 0.08, 75.0),
 ('2011-06-03', 0.63, 71.0),
 ('2011-06-04', 4.43, 69.0),
 ('2011-06-05', 4.02, 69.0),
 ('2011-06-06', 0.02, 74.0),
 ('2011-06-07', 0.06, 71.0),
 ('2011-06-08', 0.04, 74.0),
 ('2011-06-09', 0.01, 74.0),
 ('2011-06-10', 0.02, 75.0),
 ('2011-06-11', 0.01, 73.0),
 ('2011-06-12', 0.12, 73.0),
 ('2011-06-13', 0.16, 73.0),
 ('2011-06-14', 0.0, 75.0),
 ('2011-06-15', 0.0, 75.0),
 ('2011-06-16', 0.06, 74.0),
 ('2011-06-17', 0.0, 74.0),
 ('2011-06-18', 0.02, 75.0),
 ('2011-06-19', 0.09, 74.0),
 ('2011-06-20', 0.03, 73.0),
 ('2011-06-21', 0.54, 72.0),
 ('2011-06-22', 0.22, 74.0),
 ('2011-06-23', 0.03, 72.0),
 ('2011-06-24', 0.21, 75.0),
 ('2011-06-25', 0.0, 76.0),
 ('2011-06-26', 0.04, 74.0),
 ('2011-06-27', 0.03, 74.0),
 ('2011-06-28', 0.1, 74.0),
 ('2011-06-29', 0.0, 74.0),
 ('2011-06-30', 0.0, 74.0),
 ('2012-06-01', 0.08, 71.0),
 ('2012-06-02', 0.03, 71.0),
 ('2012-06-03', 0.0, 75.0),
 ('2012-06-04', 0.0, 72.0),
 ('2012-06-05', 0.0, 72.0),
 ('2012-06-06', 0.03, 73.0),
 ('2012-06-07', 0.0, 73.0),
 ('2012-06-08', 0.0, 73.0),
 ('2012-06-09', 0.0, 74.0),
 ('2012-06-10', 0.0, 73.0),
 ('2012-06-11', 0.04, 72.0),
 ('2012-06-12', 0.02, 72.0),
 ('2012-06-13', 0.05, 70.0),
 ('2012-06-14', 0.08, 72.0),
 ('2012-06-15', 0.0, 72.0),
 ('2012-06-16', 0.0, 72.0),
 ('2012-06-17', 0.02, 74.0),
 ('2012-06-18', 0.0, 73.0),
 ('2012-06-19', 0.01, 73.0),
 ('2012-06-20', 0.14, 70.0),
 ('2012-06-21', 0.02, 73.0),
 ('2012-06-22', 0.01, 72.0),
 ('2012-06-23', 0.28, 73.0),
 ('2012-06-24', 0.27, 69.0),
 ('2012-06-25', 0.04, 72.0),
 ('2012-06-26', 0.22, 71.0),
 ('2012-06-27', 0.23, 71.0),
 ('2012-06-28', 0.0, 73.0),
 ('2012-06-29', 0.06, 73.0),
 ('2012-06-30', 0.0, 72.0),
 ('2013-06-01', 0.05, 75.0),
 ('2013-06-02', 0.02, 75.0),
 ('2013-06-03', 0.02, 75.0),
 ('2013-06-04', 0.0, 75.0),
 ('2013-06-05', 0.0, 74.0),
 ('2013-06-06', 0.03, 74.0),
 ('2013-06-07', 0.0, 74.0),
 ('2013-06-08', 0.0, 75.0),
 ('2013-06-09', 0.0, 75.0),
 ('2013-06-10', 0.02, 74.0),
 ('2013-06-11', 0.0, 75.0),
 ('2013-06-12', 0.0, 75.0),
 ('2013-06-13', 0.02, 74.0),
 ('2013-06-14', 0.08, 72.0),
 ('2013-06-15', 0.01, 74.0),
 ('2013-06-16', 0.0, 74.0),
 ('2013-06-17', 0.01, 74.0),
 ('2013-06-18', 0.02, 74.0),
 ('2013-06-19', 0.0, 74.0),
 ('2013-06-20', 0.0, 72.0),
 ('2013-06-21', 0.22, 70.0),
 ('2013-06-22', 0.27, 75.0),
 ('2013-06-23', 0.03, 74.0),
 ('2013-06-24', 0.02, 71.0),
 ('2013-06-25', 0.05, 71.0),
 ('2013-06-26', 1.0, 70.0),
 ('2013-06-27', 0.1, 73.0),
 ('2013-06-28', 0.02, 71.0),
 ('2013-06-29', 0.22, 71.0),
 ('2013-06-30', 0.01, 77.0),
 ('2014-06-01', 0.0, 77.0),
 ('2014-06-02', 0.0, 74.0),
 ('2014-06-03', 0.0, 73.0),
 ('2014-06-04', 0.0, 75.0),
 ('2014-06-05', 0.0, 75.0),
 ('2014-06-06', 0.13, 74.0),
 ('2014-06-07', 0.01, 74.0),
 ('2014-06-08', 0.02, 75.0),
 ('2014-06-09', 0.02, 75.0),
 ('2014-06-10', 0.1, 72.0),
 ('2014-06-11', 0.15, 74.0),
 ('2014-06-12', 0.0, 76.0),
 ('2014-06-13', 0.0, 76.0),
 ('2014-06-14', 0.0, 75.0),
 ('2014-06-15', 0.01, 75.0),
 ('2014-06-16', 0.12, 74.0),
 ('2014-06-17', 0.05, 72.0),
 ('2014-06-18', 0.07, 74.0),
 ('2014-06-19', 0.0, 75.0),
 ('2014-06-20', 0.29, 70.0),
 ('2014-06-21', 0.06, 71.0),
 ('2014-06-22', 0.15, 72.0),
 ('2014-06-23', 0.15, 71.0),
 ('2014-06-24', 0.1, 73.0),
 ('2014-06-25', 0.04, 74.0),
 ('2014-06-26', 0.04, 72.0),
 ('2014-06-27', 0.02, 74.0),
 ('2014-06-28', 0.25, 76.0),
 ('2014-06-29', 0.18, 72.0),
 ('2014-06-30', 0.03, 75.0),
 ('2015-06-03', None, 75.0),
 ('2015-06-04', 0.27, 72.0),
 ('2015-06-05', 0.0, 70.0),
 ('2015-06-06', 0.0, 76.0),
 ('2015-06-07', 0.0, 78.0),
 ('2015-06-08', 0.1, 72.0),
 ('2015-06-09', 0.05, 74.0),
 ('2015-06-10', 0.07, 74.0),
 ('2015-06-11', 0.1, 72.0),
 ('2015-06-12', 0.0, 71.0),
 ('2015-06-13', 0.0, 79.0),
 ('2015-06-14', 0.07, 79.0),
 ('2015-06-15', 0.0, 76.0),
 ('2015-06-16', 0.14, 75.0),
 ('2015-06-17', 0.25, 72.0),
 ('2015-06-18', 0.14, 74.0),
 ('2015-06-19', 0.02, 76.0),
 ('2015-06-20', 0.04, 76.0),
 ('2015-06-21', 0.01, 77.0),
 ('2015-06-22', 0.01, 75.0),
 ('2015-06-23', 0.03, 76.0),
 ('2015-06-24', 0.14, 75.0),
 ('2015-06-25', 0.2, 75.0),
 ('2015-06-26', 0.1, 76.0),
 ('2015-06-27', 0.06, 76.0),
 ('2015-06-29', None, 74.0),
 ('2016-06-01', 0.89, 70.0),
 ('2016-06-02', 0.15, 69.0),
 ('2016-06-03', 0.16, 70.0),
 ('2016-06-04', 0.0, 68.0),
 ('2016-06-05', 0.63, 70.0),
 ('2016-06-06', 0.36, 74.0),
 ('2016-06-07', 0.4, 75.0),
 ('2016-06-08', 0.0, 74.0),
 ('2016-06-09', 0.21, 71.0),
 ('2016-06-10', 0.06, 73.0),
 ('2016-06-11', 0.02, 75.0),
 ('2016-06-12', 0.04, 74.0),
 ('2016-06-13', 0.08, 76.0),
 ('2016-06-14', 0.06, 76.0),
 ('2016-06-15', 0.18, 76.0),
 ('2016-06-16', 0.03, 76.0),
 ('2016-06-17', 0.16, 75.0),
 ('2016-06-18', 0.3, 75.0),
 ('2016-06-19', 0.02, 75.0),
 ('2016-06-20', 0.16, 74.0),
 ('2016-06-21', 0.03, 73.0),
 ('2016-06-22', 0.01, 76.0),
 ('2016-06-23', 0.25, 74.0),
 ('2016-06-24', 0.02, 78.0),
 ('2016-06-25', 0.8, 71.0),
 ('2016-06-26', 0.06, 75.0),
 ('2016-06-27', 0.06, 75.0),
 ('2016-06-28', 0.02, 74.0),
 ('2016-06-29', 0.03, 77.0),
 ('2016-06-30', 0.0, 77.0),
 ('2017-06-01', 0.03, 76.0),
 ('2017-06-02', 0.1, 76.0),
 ('2017-06-03', 0.2, 76.0),
 ('2017-06-04', 0.15, 78.0),
 ('2017-06-05', 0.0, 76.0),
 ('2017-06-06', 0.0, 75.0),
 ('2017-06-07', 0.0, 75.0),
 ('2017-06-08', 0.02, 76.0),
 ('2017-06-09', 0.02, 78.0),
 ('2017-06-10', 0.21, 75.0),
 ('2017-06-11', 0.24, 73.0),
 ('2017-06-12', 0.19, 76.0),
 ('2017-06-13', 0.36, 76.0),
 ('2017-06-14', 0.27, 76.0),
 ('2017-06-15', 0.17, 77.0),
 ('2017-06-16', 0.02, 76.0),
 ('2017-06-17', 0.35, 77.0),
 ('2017-06-18', 0.25, 72.0),
 ('2017-06-19', 0.05, 77.0),
 ('2017-06-20', 0.05, 75.0),
 ('2017-06-21', 0.02, 82.0),
 ('2017-06-22', 0.1, 77.0),
 ('2017-06-23', 0.0, 76.0),
 ('2017-06-24', 0.0, 74.0),
 ('2017-06-25', 0.08, 73.0),
 ('2017-06-26', 0.02, 77.0),
 ('2017-06-27', 0.0, 77.0),
 ('2017-06-28', 0.01, 77.0),
 ('2017-06-29', 0.03, 76.0),
 ('2017-06-30', 0.04, 74.0),
 ('2010-06-01', 0.01, 73.0),
 ('2010-06-02', 0.0, 72.0),
 ('2010-06-03', 0.0, 74.0),
 ('2010-06-04', 0.0, 73.0),
 ('2010-06-05', 0.0, 72.0),
 ('2010-06-06', 0.0, 75.0),
 ('2010-06-07', 0.09, 74.0),
 ('2010-06-08', 0.0, 75.0),
 ('2010-06-09', 0.0, 73.0),
 ('2010-06-10', 0.0, 75.0),
 ('2010-06-11', 0.0, 76.0),
 ('2010-06-12', 0.03, 74.0),
 ('2010-06-13', 0.0, 74.0),
 ('2010-06-14', 0.06, 73.0),
 ('2010-06-15', 0.03, 73.0),
 ('2010-06-16', 0.0, 76.0),
 ('2010-06-17', 0.0, 75.0),
 ('2010-06-18', 0.03, 70.0),
 ('2010-06-19', 0.04, 75.0),
 ('2010-06-20', 0.0, 73.0),
 ('2010-06-21', 0.0, 74.0),
 ('2010-06-22', 0.0, 74.0),
 ('2010-06-23', 0.0, 74.0),
 ('2010-06-24', 0.05, 74.0),
 ('2010-06-25', 0.12, 70.0),
 ('2010-06-27', None, 75.0),
 ('2010-06-28', 0.18, 74.0),
 ('2010-06-29', 0.06, 73.0),
 ('2010-06-30', 0.03, 74.0),
 ('2011-06-01', 0.19, 72.0),
 ('2011-06-02', 0.04, 73.0),
 ('2011-06-03', 1.75, 67.0),
 ('2011-06-04', 1.14, 69.0),
 ('2011-06-05', 3.6, 76.0),
 ('2011-06-06', 0.0, 73.0),
 ('2011-06-07', 0.05, 70.0),
 ('2011-06-08', 0.17, 72.0),
 ('2011-06-09', 0.0, 74.0),
 ('2011-06-10', 0.02, 72.0),
 ('2011-06-13', None, 72.0),
 ('2011-06-14', 0.02, 75.0),
 ('2011-06-15', 0.0, 73.0),
 ('2011-06-16', 0.13, 73.0),
 ('2011-06-17', 0.0, 72.0),
 ('2011-06-18', 0.0, 74.0),
 ('2011-06-19', 0.12, 76.0),
 ('2011-06-21', None, 72.0),
 ('2011-06-22', 0.2, 74.0),
 ('2011-06-23', 0.09, 70.0),
 ('2011-06-24', 0.17, 74.0),
 ('2011-06-25', 0.03, 74.0),
 ('2011-06-27', None, 74.0),
 ('2011-06-28', 0.12, 71.0),
 ('2012-06-21', 0.08, 75.0),
 ('2012-06-22', 0.01, 75.0),
 ('2012-06-24', None, 76.0),
 ('2012-06-25', 0.12, 77.0),
 ('2012-06-26', 0.03, 75.0),
 ('2012-06-27', 0.2, 74.0),
 ('2012-06-28', 0.0, 75.0),
 ('2012-06-29', 0.23, 76.0),
 ('2012-06-30', 0.02, 78.0),
 ('2013-06-03', None, 78.0),
 ('2013-06-04', 0.0, 76.0),
 ('2013-06-05', 0.0, 78.0),
 ('2013-06-06', 0.0, 76.0),
 ('2013-06-07', 0.01, 76.0),
 ('2013-06-08', 0.0, 78.0),
 ('2013-06-09', 0.01, 79.0),
 ('2013-06-10', 0.0, 77.0),
 ('2013-06-11', 0.0, 76.0),
 ('2013-06-12', 0.04, 77.0),
 ('2013-06-13', 0.08, 77.0),
 ('2013-06-14', 0.03, 76.0),
 ('2013-06-16', None, 78.0),
 ('2013-06-17', 0.04, 76.0),
 ('2013-06-18', 0.04, 76.0),
 ('2013-06-19', 0.08, 77.0),
 ('2013-06-20', 0.01, 71.0),
 ('2013-06-25', None, 74.0),
 ('2013-06-26', 0.17, 72.0),
 ('2013-06-27', 0.0, 77.0),
 ('2014-06-01', None, 77.0),
 ('2014-06-02', 0.02, 78.0),
 ('2014-06-03', 0.0, 77.0),
 ('2014-06-04', 0.0, 77.0),
 ('2014-06-05', 0.0, 76.0),
 ('2014-06-06', 0.13, 75.0),
 ('2014-06-07', 0.04, 79.0),
 ('2014-06-09', None, 75.0),
 ('2014-06-10', 0.16, 73.0),
 ('2014-06-11', 0.17, 76.0),
 ('2014-06-12', 0.0, 78.0),
 ('2014-06-13', 0.0, 77.0),
 ('2014-06-14', 0.0, 78.0),
 ('2014-06-16', None, 76.0),
 ('2014-06-17', 0.39, 75.0),
 ('2014-06-18', 0.08, 76.0),
 ('2014-06-19', 0.14, 77.0),
 ('2014-06-20', 0.07, 74.0),
 ('2014-06-21', 0.11, 78.0),
 ('2014-06-23', None, 77.0),
 ('2014-06-24', 0.03, 77.0),
 ('2014-06-25', 0.1, 74.0),
 ('2014-06-26', 0.08, 74.0),
 ('2014-06-27', 0.08, 78.0),
 ('2014-06-29', None, 79.0),
 ('2014-06-30', 0.04, 79.0),
 ('2015-06-01', 0.05, 78.0),
 ('2015-06-03', 0.0, 75.0),
 ('2015-06-04', 0.22, 76.0),
 ('2015-06-05', 0.0, 78.0),
 ('2015-06-06', 0.0, 78.0),
 ('2015-06-08', None, 74.0),
 ('2015-06-09', 0.0, 78.0),
 ('2015-06-10', 0.0, 77.0),
 ('2015-06-11', 0.0, 76.0),
 ('2015-06-12', 0.03, 78.0),
 ('2015-06-14', None, 78.0),
 ('2015-06-15', 0.0, 78.0),
 ('2015-06-16', 0.0, 78.0),
 ('2015-06-17', 0.16, 74.0),
 ('2015-06-18', 0.04, 79.0),
 ('2015-06-19', 0.02, 77.0),
 ('2015-06-20', 0.06, 73.0),
 ('2015-06-21', 0.0, 79.0),
 ('2015-06-22', 0.04, 79.0),
 ('2015-06-23', 0.02, 78.0),
 ('2015-06-24', 0.01, 77.0),
 ('2015-06-25', 0.2, 78.0),
 ('2015-06-26', 0.11, 78.0),
 ('2015-06-27', 0.09, 80.0),
 ('2015-06-28', 0.0, 80.0),
 ('2015-06-29', 0.11, 79.0),
 ('2015-06-30', 1.1, 74.0),
 ('2016-06-01', 0.22, 71.0),
 ('2016-06-02', 0.35, 74.0),
 ('2016-06-03', 0.02, 75.0),
 ('2016-06-07', None, 75.0),
 ('2016-06-08', 0.0, 74.0),
 ('2016-06-09', 0.12, 76.0),
 ('2016-06-10', 0.13, 75.0),
 ('2016-06-11', 0.01, 77.0),
 ('2016-06-12', 0.26, 77.0),
 ('2016-06-13', 0.01, 79.0),
 ('2016-06-14', 0.0, 79.0),
 ('2016-06-15', 0.18, 78.0),
 ('2016-06-16', 0.06, 79.0),
 ('2016-06-17', 0.17, 73.0),
 ('2016-06-18', 0.03, 78.0),
 ('2016-06-19', 0.03, 79.0),
 ('2016-06-20', 0.47, 80.0),
 ('2016-06-21', 0.0, 76.0),
 ('2016-06-22', 0.08, 79.0),
 ('2016-06-23', 0.1, 79.0),
 ('2016-06-24', 0.03, 77.0),
 ('2016-06-25', 0.44, 80.0),
 ('2016-06-26', 0.03, 79.0),
 ('2016-06-27', 0.0, 78.0),
 ('2016-06-28', 0.0, 78.0),
 ('2016-06-29', 0.06, 79.0),
 ('2016-06-30', 0.0, 78.0),
 ('2017-06-01', 0.0, 81.0),
 ('2017-06-02', 0.15, 78.0),
 ('2017-06-03', 0.16, 80.0),
 ('2017-06-04', 0.05, 79.0),
 ('2017-06-05', 0.02, 81.0),
 ('2017-06-06', 0.0, 80.0),
 ('2017-06-07', 0.0, 81.0),
 ('2017-06-08', 0.01, 79.0),
 ('2017-06-09', 0.0, 81.0),
 ('2017-06-10', 0.53, 78.0),
 ('2017-06-11', 0.14, 79.0),
 ('2017-06-12', 0.35, 79.0),
 ('2017-06-13', 0.1, 75.0),
 ('2017-06-14', 0.21, 79.0),
 ('2017-06-15', 0.3, 78.0),
 ('2017-06-16', 0.02, 80.0),
 ('2017-06-17', 0.02, 78.0),
 ('2017-06-18', 0.18, 77.0),
 ('2017-06-19', 0.19, 78.0),
 ('2017-06-20', 0.17, 79.0),
 ('2017-06-23', None, 76.0),
 ('2017-06-26', None, 80.0),
 ('2017-06-29', None, 76.0),
 ('2017-06-30', 0.0, 81.0),
 ('2010-06-01', 0.0, 77.0),
 ('2010-06-02', 0.0, 76.0),
 ('2010-06-03', 0.14, 77.0),
 ('2010-06-04', 0.0, 75.0),
 ('2010-06-07', 0.0, 76.0),
 ('2010-06-08', 0.0, 79.0),
 ('2010-06-09', 0.0, 79.0),
 ('2010-06-10', 0.0, 77.0),
 ('2010-06-15', 0.0, 76.0),
 ('2010-06-16', 0.0, 77.0),
 ('2010-06-17', 0.0, 76.0),
 ('2010-06-18', 0.05, 73.0),
 ('2010-06-21', 0.0, 76.0),
 ('2010-06-22', 0.02, 77.0),
 ('2010-06-23', 0.0, 77.0),
 ('2010-06-24', 0.02, 78.0),
 ('2010-06-25', 0.1, 77.0),
 ('2010-06-28', 0.0, 76.0),
 ('2010-06-29', 0.0, 78.0),
 ('2010-06-30', 0.0, 78.0),
 ('2011-06-01', None, 75.0),
 ('2011-06-02', 0.0, 77.0),
 ('2011-06-03', 1.71, 65.0),
 ('2011-06-06', 0.0, 76.0),
 ('2011-06-07', 0.0, 74.0),
 ('2011-06-08', 0.05, 76.0),
 ('2011-06-09', 0.0, 76.0),
 ('2011-06-13', 0.0, 77.0),
 ('2011-06-14', 0.0, 77.0),
 ('2011-06-15', None, 76.0),
 ('2011-06-16', None, 77.0),
 ('2011-06-17', None, 76.0),
 ('2011-06-20', None, 77.0),
 ('2011-06-21', 0.25, 74.0),
 ('2011-06-22', 0.08, 76.0),
 ('2011-06-23', 0.22, 73.0),
 ('2011-06-24', 0.1, 75.0),
 ('2011-06-27', None, 76.0),
 ('2011-06-28', None, 75.0),
 ('2011-06-29', None, 76.0),
 ('2011-06-30', 0.0, 75.0),
 ('2012-06-01', 0.04, 74.0),

In [24]:
prcpJune_df=pd.DataFrame(result_list, columns=['date','prcp', 'tobs'])
prcpJune_df.head()

         date  prcp  tobs
0  2010-06-01  0.00  78.0
1  2010-06-02  0.01  76.0
2  2010-06-03  0.00  78.0
3  2010-06-04  0.00  76.0
4  2010-06-05  0.00  77.0

In [25]:
prcpJune_df.describe()

              prcp         tobs
count  1574.000000  1700.000000
mean      0.136360    74.944118
std       0.335731     3.257417
min       0.000000    64.000000
25%       0.000000    73.000000
50%       0.020000    75.000000
75%       0.120000    77.000000
max       4.430000    85.000000

In [21]:
decembers=[]
decembers = session.query(Measurement.date, Measurement.prcp, Measurement.tobs).filter(extract('month',Measurement.date) == 12)
decembers_list=list(decembers.all())

In [23]:
prcpDecember_df=pd.DataFrame(decembers_list, columns=['date','prcp','tobs'])
prcpDecember_df.describe()

              prcp         tobs
count  1405.000000  1517.000000
mean      0.216819    71.041529
std       0.541399     3.745920
min       0.000000    56.000000
25%       0.000000    69.000000
50%       0.030000    71.000000
75%       0.150000    74.000000
max       6.420000    83.000000